body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #e1e1e1;
}

.container {
  text-align: center;
  border: 1px solid #e1e1e1;
  border-radius: 90px;
  padding: 30px 60px;
  margin-top: 35px;
  max-width: 1200px;
  background: white;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

img {
  display: flex;
  width: 27%;
  margin-top: 20px;
  margin-bottom: 40px;
}

h1 {
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
}

.registerBtn {
  text-decoration: none;
  color: #fff;
  background-color: #ea002a;
  border: #ea002a;
  padding: 7px 20px;
  margin-top: 50px;
  border-radius: 10px;
  transition: all 200ms ease-in-out;

  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.registerBtn:hover {
  background-color: grey;
  border-color: grey;
}
